.rf-map,
.rf-map * {
    box-sizing: border-box;
}
.rf-map {
    position: relative;
    // max-width: 980px;
    margin: auto;
    padding: 20px;
}

.rf-map svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 5px 12px rgba(0, 0, 0, 0.5));
}

.rf-map path {
    stroke: #ffffff;
    stroke-width: 1;
    stroke-linejoin: round;
}
.rf-map [data-code] {
    fill: #858585;
    transition: fill 0.2s;
}
.rf-map [data-code]:hover {
    fill: #c06464;
}

.rf-map [data-completed="first"] {
    fill: rgb(19, 143, 56);
    &:hover {
        fill: rgb(19, 143, 56);
    }
}
.rf-map [data-completed="second"] {
    fill: rgb(209, 183, 36);
    &:hover {
        fill: rgb(209, 183, 36);
    }
}
.rf-map [data-completed="third"] {
    fill: rgb(177, 37, 19);
    &:hover {
        fill: rgb(177, 37, 19);
    }
}

.rf-map [data-completed="lose"] {
    fill: rgb(95, 0, 0);
    &:hover {
        fill: rgb(177, 37, 19);
    }
}

.map-text {
    position: sticky;
    top: 10px;
    z-index: 100;
    padding-top: 50px;
    margin-bottom: 50px;
    font-size: 32px;
    text-align: center;
}

.map-current-target-text {
    text-align: center;
    font-style: bold;
    font-size: 12px;
    position: absolute;
    cursor: default;
    text-align: center;
    display: block;
    padding: 13px 28px;
    font-size: 14px;
    line-height: 1;
    color: #050505;
    background-color: #ffffff36;
    z-index: 10;
}

.map-try-text {
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;

    // flex-direction: column;
    align-items: center;

    // justify-content: space-between;
    gap: 20px;
    &__first {
    }

    &__second {
    }

    &__third {
    }
}

.map-item {
    position: relative;
}

.map-item-text {
    font-size: 14px;
    font-weight: bold;
    fill: #ffffffce;
    text-anchor: middle;
    pointer-events: none;

    tspan {
        display: block;
    }
}

.map-item-text-bg {
    pointer-events: none;
    user-select: none;
    transition: opacity 0.5s ease;
    fill: rgba(8, 9, 10, 0.514);
}

svg {
    overflow: visible;
}
.hidden {
    opacity: 0;
}

// .map__label {
//     position: absolute;
//     -webkit-transform: translate(-50%, -120%);
//     transform: translate(-50%, -120%);
//     cursor: default;
//     text-align: center;
//     display: block;
//     padding: 13px 28px;
//     font-size: 14px;
//     line-height: 1;
//     color: #050505;
//     background-color: #ffffff36;
//     border: 1px solid #0505058f;
//     -webkit-box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.3);
//     box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.3);
//     z-index: 100;
//     &:active {
//         display: block;
//     }
//     &::before {
//         content: "";
//         position: absolute;
//         top: 100%;
//         left: 50%;
//         // -webkit-transform: translateX(-50%);
//         // transform: translateX(-50%);
//         width: 0;
//         height: 0;
//         border-left: 6px solid transparent;
//         border-right: 6px solid transparent;
//         border-top: 8px solid #fff;
//         -webkit-box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.3);
//         box-shadow: 0 10px 14px 0 rgba(0, 0, 0, 0.3);
//     }
// }
