// @import url(https://fonts.googleapis.com/css?family=Rubik+Doodle+Shadow:regular&display=swap&subset=cyrillic);
@import url(https://fonts.googleapis.com/css?family=Kurale:regular&display=swap&subset=cyrillic);
$font: "Kurale";

body {
    font-family: $font;
    background-color: #e6e6e6;
}

.button {
}

.rf-map,
.rf-map * {
    box-sizing: border-box;
}
.rf-map {
    position: relative;
    margin: auto;
    padding: 20px;
}

.rf-map svg {
    width: 100%;
    height: 100%;
    filter: drop-shadow(0 5px 12px rgba(0, 0, 0, 0.603));
}

.rf-map path {
    stroke: #ffffff;
    stroke-width: 0.7;
    stroke-linejoin: round;
}

.rf-map {
    fill: #858585;
    transition: fill 0.2s;
}

.rf-map [data-code]:hover {
    fill: #c06464;
}

.rf-map [data-completed="first"] {
    fill: rgb(19, 143, 56);
    &:hover {
        fill: rgb(19, 143, 56);
    }
}
.rf-map [data-completed="second"] {
    fill: rgb(209, 183, 36);
    &:hover {
        fill: rgb(209, 183, 36);
    }
}
.rf-map [data-completed="third"] {
    fill: rgb(177, 37, 19);
    &:hover {
        fill: rgb(177, 37, 19);
    }
}

.rf-map [data-completed="lose"] {
    fill: rgb(95, 0, 0);
    &:hover {
        fill: rgb(177, 37, 19);
    }
}
.map {
    font-family: $font;
    &__option {
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
    }

    &__health-point-bar {
        position: absolute;
        top: 60px;
        right: 160px;
        svg {
            fill: rgb(235, 67, 67);
            stroke: rgb(14, 13, 13);
            transition: all 0.3s ease-in;
        }
    }
    &__health-point-item {
        width: 40px;
        height: 40px;
        transition: all 0.2s ease-in;
    }

    &__sound-option {
        position: absolute;
        left: 180px;
        top: 50px;
        transition: all 0.3s ease-in;
        z-index: 5;
    }

    &__sound-option-on {
        margin-top: 8px;
        margin-left: 8px;
        width: 30px;
        height: 30px;
        padding: 8px;
        fill: #020202bb;
        border-radius: 50%;
        transition: all 0.1s ease-in;
        &:hover {
            fill: #020202da;
            transform: scale(1.1);
            background-color: #63636315;
        }
        path {
            pointer-events: none;
        }
    }
    &__sound-option-off {
        margin-top: 8px;
        margin-left: 8px;
        width: 30px;
        height: 30px;
        padding: 8px;
        fill: #020202bb;
        border-radius: 50%;
        transition: all 0.1s ease-in;
        &:hover {
            fill: #020202da;
            transform: scale(1.1);
            background-color: #63636315;
        }
        path {
            pointer-events: none;
        }
    }

    &__theme {
        position: absolute;
        left: 260px;
        top: 58px;
        z-index: 5;
    }

    &__theme-light {
        width: 30px;
        height: 30px;
        padding: 8px;
        fill: #020202bb;
        border-radius: 50%;
        transition: all 0.1s ease;
        &:hover {
            fill: #020202da;
            transform: scale(1.1);
            background-color: #63636315;
        }
    }

    &__theme-dark {
        width: 30px;
        height: 30px;
        padding: 6px;
        fill: #020202bb;
        border-radius: 50%;
        transition: all 0.1s ease;
        &:hover {
            fill: #020202da;
            transform: scale(1.1);
            background-color: #63636315;
        }
    }
}
.map-text {
    font-family: $font;
    position: sticky;
    top: 0;
    z-index: 4;
    padding-top: 34px;
    margin-bottom: 50px;
    font-size: 32px;
    text-align: center;
}

.map-current-target-text {
    text-align: center;
    font-style: bold;
    font-size: 12px;
    position: absolute;
    cursor: default;
    text-align: center;
    display: none;
    padding: 13px 28px;
    font-size: 14px;
    line-height: 1;
    color: #050505;
    background-color: #ffffff36;
    z-index: 10;
}

.map-try-text {
    font-family: $font;
    padding-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: space-around;

    // flex-direction: column;
    align-items: center;

    // justify-content: space-between;
    gap: 20px;
    &__first {
    }

    &__second {
    }

    &__third {
    }
}

.map-item {
    position: relative;
}

.map-item-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    fill: #ffffffce;
    text-anchor: middle;
    pointer-events: none;

    tspan {
        display: block;
    }
}

.map-item-text-bg {
    pointer-events: none;
    user-select: none;
    transition: opacity 0.5s ease;
    fill: rgba(8, 9, 10, 0.514);
}

svg {
    overflow: visible;
}
.hidden {
    opacity: 0;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background-color: rgba(48, 46, 46, 0.555);
    h3 {
        font-size: 24px;
    }
    &__block {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        height: 60%;
        background-color: #dfdfdf;
        border: 1px solid #818181;
        box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
        border-radius: 5px;
    }
    &__buttons {
        width: 100%;
        display: flex;
        justify-content: space-around;
        padding-bottom: 20px;
    }
    &__button {
        width: 20%;
        height: 40px;
        border: 1px solid #923c3c;

        font-size: 18px;
        border-radius: 5px;
        transition: all 0.3s ease;
        &:hover {
            background-color: #923c3c;
            color: #dfdfdf;
        }
    }
}

.none {
    display: none;
}

.dark-theme {
    color: #d2d2d2;
    background-color: #2d384a;
    .rf-map {
        svg {
            width: 100%;
            height: 100%;
            filter: drop-shadow(0 5px 12px rgba(0, 0, 0, 0.637));
        }
        path {
            stroke: #000000;
            stroke-width: 0.7;
            stroke-linejoin: round;
        }
    }
    .map {
        &__health-point-bar {
            svg {
                fill: rgb(235, 67, 67);
                stroke: rgb(0, 0, 0);
            }
        }

        &__sound-option-on {
            fill: #949494;
            &:hover {
                fill: #d2d2d2;
                background-color: #d2d2d233;
            }
            path {
                pointer-events: none;
            }
        }
        &__sound-option-off {
            fill: #949494;
            &:hover {
                fill: #d2d2d2;
                background-color: #d2d2d233;
            }
        }
        &__theme-light {
            fill: #949494;
            &:hover {
                color: #d2d2d2;
                fill: #d2d2d2;
                background-color: #d2d2d233;
            }
        }

        &__theme-dark {
            fill: #020202bb;
            &:hover {
                fill: #d2d2d2;
                background-color: #d2d2d233;
            }
        }
    }
    .modal-window {
        background-color: rgba(48, 46, 46, 0.555);
        color: #d2d2d2;
        &__block {
            background-color: #2d384a;
            border: 1px solid #d2d2d2;
        }
        &__buttons {
        }
        &__button {
            border: 1px solid #ff4c2b;
            &:hover {
                background-color: #ff4c2b;
                color: #dfdfdf;
            }
        }
    }
}
